@import url("https://fonts.googleapis.com/css2?family=Cousine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@font-face {
	font-family: "Small Caps";
	src: url(./Small%20Caps%20Font.ttf);
}

body {
	background-color: #313131;
	overflow-x: hidden;
	color: white;
	font-family: "Source Sans Pro", sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

.center-text {
	text-align: center;
	font-size: 1.2em;
}
.link {
	text-decoration: underline;
	color: rgb(4, 121, 199);
}
.light .link {
	color: #004f66;
}
.title {
	font-size: min(250%, 8vw);
	font-weight: bold;
	margin-top: 1.5em;
	margin-bottom: 0;
	text-align: center;
}
.subtitle {
	font-size: min(200%, 7vw);
	font-weight: normal;
	font-style: italic;
	margin-top: -0.5em;
	margin-bottom: 0;
	text-align: center;
}
.motd {
	text-align: center;
	font-size: min(200%, 7vw);
	margin-top: 5%;
}
.small-caps {
	font-family: "Small Caps";
}
/* --- LIGHT MODE --- */
.light {
	background-color: #cfcfcf;
	color: black;
}
.light a {
	color: black;
}
.light .primary-navigation a > span {
	color: #620000;
}
.light .active {
	border-color: #620000;
}

/* --- NAV BAR --- */
nav {
	font-family: "Cousine", sans-serif;
	font-weight: 500;
}

header {
	background-color: hsla(0, 0%, 0%, 0.1);
}

.flex {
	display: flex;
	gap: var(--gap, 2rem);
}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.logo {
	margin: 2rem;
	width: 3rem;
	height: 3rem;
}

.primary-header {
	align-items: center;
	justify-content: space-between;
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
}

.primary-navigation a {
	text-decoration: none;
}

.primary-navigation a > span {
	font-weight: 700;
	margin-inline-end: 0 3em;
	transform: translateY(0.2rem);
	color: rgb(255, 78, 78);
}

.active {
	border-bottom: 2px solid rgb(255, 78, 78);
}

@media (max-width: 35em) {
	.primary-navigation {
		--gap: 2em;

		position: fixed;
		z-index: 1000;
		inset: 0 0 0 30%;

		flex-direction: column;
		padding: min(20vh, 10rem) 2rem;

		transform: translateX(100%);
		transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

		background: rgb(0, 0, 0);
		background: linear-gradient(
			180deg,
			rgb(0, 0, 0) 0%,
			rgb(0, 0, 0) 40%,
			rgba(0, 0, 0, 0.1) 100%
		);
	}

	@supports (backdrop-filter: blur(2rem)) {
		.primary-navigation {
			backdrop-filter: blur(0.5rem);
		}
	}

	.primary-navigation[data-visible="true"] {
		transform: translateX(0%);
	}
	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 9999;
		background-color: transparent;
		background-image: url(./images/menu.svg);
		background-repeat: no-repeat;
		filter: brightness(0) invert(1);
		width: 3rem;
		border: 0;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
	}
	.mobile-nav-toggle[aria-expanded="true"] {
		background-image: url(./images/close.svg);
	}

	/* --- LIGHT MODE --- */
	.light .primary-navigation {
		background: rgb(255, 255, 255);
		background: linear-gradient(
			180deg,
			rgb(255, 255, 255) 0%,
			rgb(255, 255, 255) 40%,
			rgba(255, 255, 255, 0.1) 100%
		);
	}
	.light .mobile-nav-toggle {
		filter: none;
	}
}
@media (min-width: 35em) and (max-width: 55em) {
	.primary-navigation a > span {
		display: none;
	}
}
@media (min-width: 35em) {
	.primary-navigation {
		--gap: clamp(1.5rem, 5vw, 3rem);
		padding-block: 2rem;
		padding-inline: clamp(3rem, 10vw, 10rem);
	}
}